<nav class="navbar navbar-findcond navbar-fixed-top header-layout">
	<div class="container <?php echo ($pt->page == 'hello') ? 'watch-container' : '';?>" id="header_change">
		<div class="navbar-header pull-left">
			<a class="navbar-brand logo-img" href="{{LINK }}" itemprop="url"><img itemprop="logo" src="{{CONFIG theme_url}}/img/<?php echo ($pt->mode != 'night') ? 'logo' : 'logo-light';?>.png" alt="{{CONFIG title}}"></a>
		</div>
	</div>
</nav>
<nav class="navbar navbar-findcond navbar-default second-header-layout">
    <div class="container <?php echo ($pt->page == 'watch') ? 'watch-container' : '';?>" id="header_change_3">
		<div class="navbar-inner" id="navbar">
		</div>
		</div>
</nav>
